Repository GlennFischer032/sensitive-desktop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-guac-no-root, build-desktop-manager-api, build-desktop-manager-frontend

Path conditions:
  build-guac-no-root: any of: guacamole-helm/docker/guac-no-root/**/*
  build-desktop-manager-api: any of: desktop-manager-api/**/*
  build-desktop-manager-frontend: any of: app/**/*

Update ip forwarding
  app/Dockerfile
  app/src/__init__.py
  app/src/middleware/logging.py
  app/tests/conftest.py
  app/tests/unit/test_app_init.py
  guacamole-helm/README.md
  guacamole-helm/docker/guac-no-root/test.txt
  guacamole-helm/templates/NOTES.txt
  guacamole-helm/templates/_helpers.tpl
  guacamole-helm/templates/api/deployment-desktop-api.yaml
  guacamole-helm/templates/api/secret-desktop-api.yaml
  guacamole-helm/templates/frontend/deployment-desktop-frontend.yaml
  guacamole-helm/templates/frontend/desktop-ingress.yaml
  guacamole-helm/templates/secrets.yaml
  guacamole-helm/values.yaml
Due: build-guac-no-root, build-desktop-manager-frontend

Update request logging
  app/src/__init__.py
  app/src/middleware/logging.py
Due: build-desktop-manager-frontend

Tsts
  app/.coverage
  app/src/middleware/auth.py
  app/src/templates/configurations.html
  app/src/templates/connections.html
  app/src/templates/errors/429.html
  app/src/templates/errors/500.html
  app/src/templates/storage_pvcs.html
  app/src/templates/users.html
  app/tests/conftest.py
  app/tests/functional/test_api_error_handling.py
  app/tests/functional/test_auth_api_routes.py
  app/tests/functional/test_configurations_api_routes.py
  app/tests/functional/test_connections_api_routes.py
  app/tests/functional/test_routes.py
  app/tests/functional/test_storage_api_routes.py
  app/tests/functional/test_storage_routes.py
  app/tests/functional/test_tokens_api_routes.py
  app/tests/functional/test_users_routes.py
  app/tests/unit/test_api_connection.py
  app/tests/unit/test_app_entry.py
  app/tests/unit/test_app_init.py
  app/tests/unit/test_error_handlers.py
  app/tests/unit/test_middleware.py
  app/tests/unit/test_redis_client.py
  app/tests/unit/test_tokens_client.py
  app/tests/unit/test_users_client.py
  desktop-manager-api/.coverage
  desktop-manager-api/format_code.sh
  desktop-manager-api/run_tests.sh
  desktop-manager-api/tests/unit/test_services.py
  desktop-manager-api/tests/unit/test_token_service.py
Due: build-desktop-manager-api, build-desktop-manager-frontend

Tests
  desktop-manager-api/.coverage
  desktop-manager-api/src/clients/guacamole.py
  desktop-manager-api/src/routes/connection_routes.py
  desktop-manager-api/src/services/connections.py
  desktop-manager-api/tests/conftest.py
  desktop-manager-api/tests/functional/conftest.py
  desktop-manager-api/tests/functional/test_connection_routes.py
  desktop-manager-api/tests/functional/test_oidc_routes.py
  desktop-manager-api/tests/unit/test_auth.py
  desktop-manager-api/tests/unit/test_client_base.py
  desktop-manager-api/tests/unit/test_connection_repository.py
  desktop-manager-api/tests/unit/test_connections_service.py
  desktop-manager-api/tests/unit/test_encryption.py
  desktop-manager-api/tests/unit/test_error_handlers.py
  desktop-manager-api/tests/unit/test_exceptions.py
  desktop-manager-api/tests/unit/test_guacamole_json_auth.py
  desktop-manager-api/tests/unit/test_rancher_client.py
  desktop-manager-api/tests/unit/test_repository_base.py
  desktop-manager-api/tests/unit/test_security.py
  desktop-manager-api/tests/unit/test_storage_pvc_service.py
  desktop-manager-api/tests/unit/test_user_service.py
Due: build-desktop-manager-api

Tests and pipeline
  .coverage
  .gitlab-ci.yml
  app/.pre-commit-config.yaml
  desktop-manager-api/.coverage
  desktop-manager-api/.pre-commit-config.yaml
  desktop-manager-api/src/core/security.py
  desktop-manager-api/tests/functional/test_connection_routes.py
  desktop-manager-api/tests/functional/test_desktop_configuration_routes.py
  desktop-manager-api/tests/functional/test_storage_pvc_routes.py
  desktop-manager-api/tests/functional/test_token_routes.py
  desktop-manager-api/tests/functional/test_user_routes.py
  desktop-manager-api/tests/unit/test_core_database.py
  desktop-manager-api/tests/unit/test_desktop_configuration_service.py
  desktop-manager-api/tests/unit/test_security.py
  desktop-manager-api/tests/unit/test_user_repository.py
Due: build-desktop-manager-api, build-desktop-manager-frontend

Tests and pipeline
  .coverage
  .gitlab-ci.yml
  desktop-manager-api/.coverage
  desktop-manager-api/tests/unit/test_desktop_configuration_repository.py
  desktop-manager-api/tests/unit/test_storage_pvc_repository.py
Due: build-desktop-manager-api

Tests and pipeline
  .coverage
  .envtmp
  .gitlab-ci.yml
  app/tests/unit/test_app_init.py
  desktop-manager-api/.coverage
  desktop-manager-api/src/services/connections.py
  desktop-manager-api/tests/unit/test_base_client.py
  desktop-manager-api/tests/unit/test_base_client_additional.py
  desktop-manager-api/tests/unit/test_client_factory.py
  desktop-manager-api/tests/unit/test_client_factory_additional.py
  desktop-manager-api/tests/unit/test_connections_service_more.py
  desktop-manager-api/tests/unit/test_guacamole_client.py
  desktop-manager-api/tests/unit/test_rancher_client.py
  desktop-manager-api/tests/unit/test_rancher_client_additional.py
Due: build-desktop-manager-api, build-desktop-manager-frontend

Tests
  app/tests/unit/test_app_init.py
  desktop-manager-api/tests/functional/test_app_routes.py
  desktop-manager-api/tests/functional/test_direct.py
  desktop-manager-api/tests/functional/test_routes.py
  desktop-manager-api/tests/unit/test_base_client.py
  desktop-manager-api/tests/unit/test_base_client_additional.py
  desktop-manager-api/tests/unit/test_client_base.py
  desktop-manager-api/tests/unit/test_client_factory.py
  desktop-manager-api/tests/unit/test_client_factory_additional.py
  desktop-manager-api/tests/unit/test_connections_service.py
  desktop-manager-api/tests/unit/test_connections_service_more.py
  desktop-manager-api/tests/unit/test_rancher_client.py
  desktop-manager-api/tests/unit/test_rancher_client_additional.py
  desktop-manager-api/tests/unit/test_services.py
Due: build-desktop-manager-api, build-desktop-manager-frontend

Pipeline
  .gitlab-ci.yml
Due: none

Pipeline
  .gitlab-ci.yml
  desktop-manager-api/.coverage
Due: build-desktop-manager-api

Enhancements
  .envtmp
  app/src/middleware/auth.py
  app/src/middleware/logging.py
  app/src/scss/layout/_navigation.scss
  app/src/static/style.css
  app/src/templates/base.html
  app/src/templates/configurations.html
  app/src/templates/errors/403.html
  desktop-manager-api/src/database/repositories/desktop_configuration.py
  desktop-manager-api/src/routes/connection_routes.py
  desktop-manager-api/src/services/connections.py
  desktop-manager-api/src/services/storage_pvc.py
  docker-compose.yaml
Due: build-desktop-manager-api, build-desktop-manager-frontend

Fix tests
  app/tests/functional/test_configurations_api_routes.py
  app/tests/functional/test_storage_api_routes.py
  app/tests/functional/test_tokens_api_routes.py
  app/tests/functional/test_tokens_routes.py
  app/tests/functional/test_users_api_routes.py
  app/tests/functional/test_users_routes.py
  app/tests/unit/test_middleware.py
Due: build-desktop-manager-frontend

Fix tests
  app/src/middleware/auth.py
  app/tests/functional/test_auth_api_routes.py
  app/tests/functional/test_configurations_api_routes.py
  app/tests/functional/test_connections_api_routes.py
  app/tests/functional/test_routes.py
  app/tests/functional/test_storage_api_routes.py
  app/tests/functional/test_storage_routes.py
  app/tests/functional/test_tokens_api_routes.py
  app/tests/functional/test_tokens_routes.py
  app/tests/functional/test_users_api_routes.py
  app/tests/functional/test_users_routes.py
  app/tests/unit/test_middleware.py
  desktop-manager-api/.coverage
  desktop-manager-api/tests/unit/test_connections_service.py
Due: build-desktop-manager-api, build-desktop-manager-frontend

Update logging
  app/src/config/config.py
  app/src/middleware/logging.py
Due: build-desktop-manager-frontend

Update logging
  guacamole-helm/README.md
  guacamole-helm/templates/api/network-policy-desktop-api.yaml
  guacamole-helm/templates/frontend/deployment-desktop-frontend.yaml
  guacamole-helm/templates/guacd/network-policy-guacd.yaml
  guacamole-helm/templates/logs-pvc.yaml
  guacamole-helm/templates/postgres/network-policy-postgres.yaml
  guacamole-helm/templates/redis/network-policy-redis.yaml
Due: none

Update docs
  app/README.md
Due: build-desktop-manager-frontend

Update
  desktop-manager-api/src/clients/rancher.py
Due: build-desktop-manager-api

Update retry interval
  desktop-manager-api/src/clients/rancher.py
Due: build-desktop-manager-api

Update
  .gitignore
  .pre-commit-config.yaml
  app/.pre-commit-config.yaml
  desktop-manager-api/.pre-commit-config.yaml
  desktop-manager-api/Dockerfile
  desktop-manager-api/pyproject.toml
  desktop-manager-api/src/clients/rancher.py
  desktop-manager-api/src/config/settings.py
  desktop-manager-api/src/desktop_charts/default/Chart.yaml
  desktop-manager-api/src/desktop_charts/default/templates/NOTES.txt
  desktop-manager-api/src/desktop_charts/default/templates/_helpers.tpl
  desktop-manager-api/src/desktop_charts/default/templates/desktop-vnc.yaml
  desktop-manager-api/src/services/connections.py
  docker-compose.yaml
  guacamole-helm/templates/api/deployment-desktop-api.yaml
  guacamole-helm/templates/api/service-account.yaml
Due: build-desktop-manager-api, build-desktop-manager-frontend

Update
  desktop-manager-api/tests/unit/test_rancher_client.py
Due: build-desktop-manager-api

Fix
  desktop-manager-api/src/clients/rancher.py
Due: build-desktop-manager-api

Update rancher client
  desktop-manager-api/Dockerfile
  desktop-manager-api/src/clients/rancher.py
  desktop-manager-api/src/desktop_charts/default/templates/desktop-vnc.yaml
  desktop-manager-api/src/services/connections.py
Due: build-desktop-manager-api

Test
  desktop-manager-api/tests/unit/test_rancher_client.py.bak
Due: build-desktop-manager-api
