Repository GlennFischer032/sensitive-desktop: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-pre-commit, app-pre-commit

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.4
    hooks:
      - id: ruff
        args: [--fix, --unsafe-fixes]
        files: ^run_tests\.py$
        exclude: ^(.*\/tests\/|tests\/|.*test_.*\.py)
      - id: ruff-format
        files: ^run_tests\.py$
        exclude: ^(.*\/tests\/|tests\/|.*test_.*\.py)

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^guacamole-helm/.*$
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

# Include the desktop-manager-api pre-commit config
  - repo: local
    hooks:
      - id: api-pre-commit
        name: Run desktop-manager-api pre-commit hooks
        entry: bash -c 'cd desktop-manager-api && pre-commit run --all-files'
        language: system
        pass_filenames: false
        files: ^desktop-manager-api/

# Include the app pre-commit config
  - repo: local
    hooks:
      - id: app-pre-commit
        name: Run app pre-commit hooks
        entry: bash -c 'cd app && pre-commit run --all-files'
        language: system
        pass_filenames: false
        files: ^app/

Update db access 4/5
  app/clients/users.py
  app/scss/components/_buttons.scss
  app/scss/components/_tables.scss
  app/scss/pages/_configurations.scss
  app/static/style.css
  app/templates/configurations.html
  app/templates/users.html
  app/tests/unit/test_users_client.py
  desktop-manager-api/init-postgres.sql
  desktop-manager-api/src/desktop_manager/api/models/__init__.py
  desktop-manager-api/src/desktop_manager/api/models/base.py
  desktop-manager-api/src/desktop_manager/api/routes/__init__.py
  desktop-manager-api/src/desktop_manager/api/routes/auth_routes.py
  desktop-manager-api/src/desktop_manager/api/routes/connection_routes.py
  desktop-manager-api/src/desktop_manager/api/routes/desktop_configuration_routes.py
  desktop-manager-api/src/desktop_manager/api/routes/user_routes.py
  desktop-manager-api/src/desktop_manager/clients/guacamole.py
  desktop-manager-api/src/desktop_manager/clients/rancher.py
  desktop-manager-api/src/desktop_manager/core/auth.py
  desktop-manager-api/src/desktop_manager/database/models/__init__.py
  desktop-manager-api/src/desktop_manager/database/models/connection.py
  desktop-manager-api/src/desktop_manager/database/models/desktop_configuration.py
  desktop-manager-api/src/desktop_manager/database/models/storage_pvc.py
  desktop-manager-api/src/desktop_manager/database/models/user.py
  desktop-manager-api/src/desktop_manager/database/repositories/connection.py
  desktop-manager-api/src/desktop_manager/database/repositories/desktop_configuration.py
  desktop-manager-api/src/desktop_manager/database/repositories/user.py
  desktop-manager-api/src/desktop_manager/main.py
Due: api-pre-commit, app-pre-commit

Update db access 5/5
  desktop-manager-api/src/desktop_manager/api/middleware/security.py
  desktop-manager-api/src/desktop_manager/api/middleware/validation.py
  desktop-manager-api/src/desktop_manager/api/routes/connection_routes.py
  desktop-manager-api/src/desktop_manager/api/routes/desktop_configuration_routes.py
  desktop-manager-api/src/desktop_manager/api/routes/oidc_routes.py
  desktop-manager-api/src/desktop_manager/api/routes/storage_pvc_routes.py
  desktop-manager-api/src/desktop_manager/api/routes/user_routes.py
  desktop-manager-api/src/desktop_manager/clients/README.md
  desktop-manager-api/src/desktop_manager/clients/__init__.py
  desktop-manager-api/src/desktop_manager/clients/database.py
  desktop-manager-api/src/desktop_manager/clients/factory.py
  desktop-manager-api/src/desktop_manager/clients/guacamole.py
  desktop-manager-api/src/desktop_manager/core/auth.py
  desktop-manager-api/src/desktop_manager/database/core/session.py
  desktop-manager-api/src/desktop_manager/database/models/storage_pvc.py
  desktop-manager-api/src/desktop_manager/database/repositories/connection.py
  desktop-manager-api/src/desktop_manager/database/repositories/storage_pvc.py
  desktop-manager-api/src/desktop_manager/main.py
Due: api-pre-commit

Add connect storage option
  app/clients/connections.py
  app/services/connections/api_routes.py
  app/services/connections/routes.py
  app/templates/connections.html
  desktop-manager-api/src/clients/rancher.py
  desktop-manager-api/src/config/settings.py
  desktop-manager-api/src/database/core/__init__.py
  desktop-manager-api/src/database/core/session.py
  desktop-manager-api/src/database/models/connection.py
  desktop-manager-api/src/database/models/desktop_configuration.py
  desktop-manager-api/src/database/models/storage_pvc.py
  desktop-manager-api/src/database/models/token.py
  desktop-manager-api/src/database/models/user.py
  desktop-manager-api/src/database/repositories/connection.py
  desktop-manager-api/src/database/repositories/desktop_configuration.py
  desktop-manager-api/src/database/repositories/storage_pvc.py
  desktop-manager-api/src/database/repositories/user.py
  desktop-manager-api/src/main.py
  desktop-manager-api/src/models/__init__.py
  desktop-manager-api/src/routes/connection_routes.py
  desktop-manager-api/src/routes/desktop_configuration_routes.py
  desktop-manager-api/src/routes/oidc_routes.py
  desktop-manager-api/src/routes/storage_pvc_routes.py
  desktop-manager-api/src/routes/token_routes.py
  desktop-manager-api/src/schemas/base.py
  desktop-manager-api/src/schemas/rancher.py
  desktop-manager-api/src/schemas/storage_pvc.py
  desktop-manager-api/src/schemas/token.py
  desktop-manager-api/src/services/connections.py
Due: api-pre-commit, app-pre-commit

Move to services
  app/services/connections/api_routes.py
  desktop-manager-api/src/database/repositories/desktop_configuration.py
  desktop-manager-api/src/routes/desktop_configuration_routes.py
  desktop-manager-api/src/routes/oidc_routes.py
  desktop-manager-api/src/routes/storage_pvc_routes.py
  desktop-manager-api/src/routes/token_routes.py
  desktop-manager-api/src/routes/user_routes.py
  desktop-manager-api/src/schemas/rancher.py
  desktop-manager-api/src/services/desktop_configuration.py
  desktop-manager-api/src/services/storage_pvc.py
  desktop-manager-api/src/services/token.py
  desktop-manager-api/src/services/user.py
Due: api-pre-commit, app-pre-commit

Fix api token
  app/__init__.py
  app/clients/base.py
  app/clients/factory.py
  app/clients/tokens.py
  app/middleware/auth.py
  app/services/auth/api_routes.py
  app/services/auth/auth.py
  app/services/auth/routes.py
  app/services/configurations/api_routes.py
  app/services/configurations/routes.py
  app/services/connections/api_routes.py
  app/services/connections/routes.py
  app/services/storage/api_routes.py
  app/services/storage/routes.py
  app/services/tokens/api_routes.py
  app/services/tokens/routes.py
  app/services/users/api_routes.py
  app/services/users/routes.py
  app/templates/base.html
  app/templates/configurations.html
  app/templates/storage_pvcs.html
  app/tests/functional/test_auth_api_routes.py
  app/tests/unit/test_auth_module.py
  app/tests/unit/test_base_client.py
  app/utils/session.py
  desktop-manager-api/src/routes/token_routes.py
  desktop-manager-api/src/schemas/token.py
  desktop-manager-api/src/services/token.py
Due: api-pre-commit, app-pre-commit

FE Tests update
  app/.coverage
  app/tests/COVERAGE.md
  app/tests/functional/test_api_error_handling.py
  app/tests/functional/test_auth_api_routes.py
  app/tests/functional/test_auth_endpoints.py
  app/tests/functional/test_connections.py
  app/tests/functional/test_tokens_routes.py
  app/tests/unit/test_app_entry.py
  app/tests/unit/test_app_init.py
  app/tests/unit/test_auth.py
  app/tests/unit/test_auth_client.py
  app/tests/unit/test_auth_module.py
  app/tests/unit/test_middleware.py
  app/tests/unit/test_security.py
  app/tests/unit/test_session.py
  app/tests/unit/test_tokens_client.py
Due: app-pre-commit

Update tests
  app/tests/unit/test_storage_client.py
  desktop-manager-api/.coverage
  desktop-manager-api/run_tests.sh
  desktop-manager-api/tests/README.md
  desktop-manager-api/tests/__init__.py
  desktop-manager-api/tests/config.py
  desktop-manager-api/tests/conftest.py
  desktop-manager-api/tests/functional/__init__.py
  desktop-manager-api/tests/functional/test_desktop_configuration_routes.py
  desktop-manager-api/tests/functional/test_direct.py
  desktop-manager-api/tests/functional/test_routes.py
  desktop-manager-api/tests/functional/test_storage_pvc_routes.py
  desktop-manager-api/tests/functional/test_token_routes.py
  desktop-manager-api/tests/mocks.py
  desktop-manager-api/tests/unit/__init__.py
  desktop-manager-api/tests/unit/test_auth_routes.py
  desktop-manager-api/tests/unit/test_config.py
  desktop-manager-api/tests/unit/test_connection.py
  desktop-manager-api/tests/unit/test_connection_routes.py
  desktop-manager-api/tests/unit/test_database_client.py
  desktop-manager-api/tests/unit/test_database_client.py.bak2
  desktop-manager-api/tests/unit/test_db.py
  desktop-manager-api/tests/unit/test_error_handlers.py
  desktop-manager-api/tests/unit/test_handlers.py
  desktop-manager-api/tests/unit/test_main.py.bak2
  desktop-manager-api/tests/unit/test_models.py
  desktop-manager-api/tests/unit/test_oidc_routes.py
  desktop-manager-api/tests/unit/test_rancher.py
  desktop-manager-api/tests/unit/test_security.py
  desktop-manager-api/tests/unit/test_services.py
  desktop-manager-api/tests/unit/test_simple_fixtures.py
  desktop-manager-api/tests/unit/test_social_auth_config.py
  desktop-manager-api/tests/unit/test_token_repository.py
  desktop-manager-api/tests/unit/test_token_service.py
  desktop-manager-api/tests/unit/test_user.py
  desktop-manager-api/tests/unit/test_user_routes.py
  desktop-manager-api/tests/unit/test_user_routes_additional.py
  desktop-manager-api/tests/unit/test_user_routes_simple.py
  desktop-manager-api/tests/unit/test_utils.py
Due: api-pre-commit, app-pre-commit

Simplify guac logic
  .env.example
  desktop-manager-api/guacamole-init-users-postgres.sql
  desktop-manager-api/src/clients/factory.py
  desktop-manager-api/src/clients/guacamole.py
  desktop-manager-api/src/config/settings.py
  desktop-manager-api/src/database/migrations/add_encrypted_password.py
  desktop-manager-api/src/database/models/connection.py
  desktop-manager-api/src/database/repositories/connection.py
  desktop-manager-api/src/routes/connection_routes.py
  desktop-manager-api/src/services/connections.py
  desktop-manager-api/src/services/user.py
  desktop-manager-api/src/utils/encryption.py
  docker-compose.yaml
  guacamole-helm/docker/init-db/sql/02-guacamole-init-users.sql
  guacamole-helm/sql/02-guacamole-init-users.sql
  guacamole-helm/values.yaml
Due: api-pre-commit

Update helm deployment
  app/Dockerfile
  desktop-manager-api/Dockerfile
  guacamole-helm/README.md
  guacamole-helm/docker/init-db/Dockerfile.init-db
  guacamole-helm/docker/init-db/sql/01-guacamole-init.sql
  guacamole-helm/generate-secrets.py
  guacamole-helm/manual-job.yaml
  guacamole-helm/templates/api/deployment-desktop-api.yaml
  guacamole-helm/templates/guacamole/deployment-guacamole.yaml
  guacamole-helm/templates/postgres/configmap-init-scripts.yaml
  guacamole-helm/templates/postgres/deployment-postgres.yaml
  guacamole-helm/templates/postgres/job-initdb.yaml
  guacamole-helm/templates/secrets.yaml
  guacamole-helm/values.yaml
Due: api-pre-commit, app-pre-commit

Fix api tests
  .coverage
  desktop-manager-api/.coverage
  desktop-manager-api/.pre-commit-config.yaml
  desktop-manager-api/tests/conftest.py
  desktop-manager-api/tests/functional/test_desktop_configuration_routes.py
  desktop-manager-api/tests/functional/test_direct.py
  desktop-manager-api/tests/functional/test_storage_pvc_routes.py
  desktop-manager-api/tests/functional/test_token_routes.py
Due: api-pre-commit

Update logging and remove guacamole DB
  FlowDIagram.png
  app/scripts/check_dependencies.sh
  app/src/__init__.py
  app/src/clients/base.py
  app/src/clients/connections.py
  app/src/middleware/__init__.py
  app/src/middleware/logging.py
  app/src/services/auth/api_routes.py
  app/src/services/auth/routes.py
  app/src/services/configurations/api_routes.py
  app/src/services/connections/api_routes.py
  app/src/services/connections/routes.py
  app/src/services/storage/api_routes.py
  app/src/services/storage/routes.py
  app/src/services/tokens/api_routes.py
  app/src/services/users/api_routes.py
  app/src/services/users/routes.py
  desktop-manager-api/README.md
  desktop-manager-api/guacamole-init-postgres.sql
  desktop-manager-api/src/clients/base.py
  desktop-manager-api/src/clients/factory.py
  desktop-manager-api/src/clients/rancher.py
  desktop-manager-api/src/config/settings.py
  desktop-manager-api/src/core/auth.py
  desktop-manager-api/src/core/database.py
  desktop-manager-api/src/database/core/session.py
  desktop-manager-api/src/database/repositories/base.py
  desktop-manager-api/src/main.py
  desktop-manager-api/src/routes/connection_routes.py
  desktop-manager-api/src/routes/storage_pvc_routes.py
  desktop-manager-api/src/services/connections.py
  desktop-manager-api/src/services/storage_pvc.py
  desktop-manager-api/src/services/user.py
  docker-compose.yaml
  guacamole-helm/docker/init-db/Dockerfile.init-db
  guacamole-helm/manual-job.yaml
  guacamole-helm/sql/01-guacamole-init.sql
  guacamole-helm/templates/postgres/configmap-init-scripts.yaml
  guacamole-helm/templates/postgres/job-initdb.yaml
  guacamole-helm/values.yaml
Due: api-pre-commit, app-pre-commit

Ci/CD
  .gitlab-ci.yml
  app/pyproject.toml
Due: app-pre-commit

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

runner
  .gitlab/agents/gitagent/config.yaml
Due: none

update branch name
  .gitlab-ci.yml
Due: none

tags
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

fix tests
  app/src/__init__.py
  desktop-manager-api/tests/conftest.py
Due: api-pre-commit, app-pre-commit

Fix Ci
  .gitlab-ci.yml
  guacamole-helm/templates/guacamole/deployment-guacamole.yaml
Due: none

test
  desktop-manager-api/README.md
Due: api-pre-commit

Test upload
  .gitlab-ci.yml
  app/DEBUG.md
  desktop-manager-api/README.md
  guacamole-helm/docker/guac-no-root/test.txt
Due: api-pre-commit, app-pre-commit

Test cache
  .gitlab-ci.yml
Due: none

Rate limiter update
  app/src/__init__.py
  app/src/middleware/security.py
  app/tests/conftest.py
  app/tests/functional/test_api_error_handling.py
  app/tests/functional/test_auth_endpoints.py
  app/tests/unit/test_security.py
  desktop-manager-api/pyproject.toml
Due: api-pre-commit, app-pre-commit

Use Flask talisman
  app/src/__init__.py
  app/src/middleware/security.py
  app/src/templates/base.html
  app/tests/unit/test_app_init.py
Due: app-pre-commit

Use flask talisman for CSP
  app/pyproject.toml
  app/src/middleware/security.py
  app/src/templates/base.html
  app/src/templates/configurations.html
  app/src/templates/connections.html
  app/src/templates/storage_pvcs.html
  app/src/templates/users.html
  desktop-manager-api/pyproject.toml
Due: api-pre-commit, app-pre-commit

Fix deps in api
  desktop-manager-api/pyproject.toml
  desktop-manager-api/src/schemas/user.py
Due: api-pre-commit

OIDC naming
  .env.example
  desktop-manager-api/README.md
  desktop-manager-api/pyproject.toml
  desktop-manager-api/src/config/security.py
  desktop-manager-api/src/config/settings.py
  desktop-manager-api/src/core/social_auth_config.py
  desktop-manager-api/src/main.py
  desktop-manager-api/tests/conftest.py
  docker-compose.yaml
  guacamole-helm/templates/api/deployment-desktop-api.yaml
  guacamole-helm/values.yaml
Due: api-pre-commit

Update readme and deployment
  desktop-manager-api/README.md
  desktop-manager-api/src/database/migrations/add_encrypted_password.py
  guacamole-helm/templates/api/deployment-desktop-api.yaml
Due: api-pre-commit

Update app health check
  app/src/__init__.py
  app/src/middleware/security.py
Due: app-pre-commit

Update app health check
  app/src/__init__.py
  app/src/middleware/security.py
  app/tests/unit/test_app_init.py
Due: app-pre-commit

Update app health check
  .gitlab-ci.yml
  app/src/__init__.py
  app/src/middleware/security.py
  app/tests/unit/test_app_init.py
Due: app-pre-commit

Variable naming consistency
  .gitlab-ci.yml
  app/src/config/config.py
  desktop-manager-api/src/config/settings.py
  desktop-manager-api/src/services/user.py
  desktop-manager-api/tests/conftest.py
Due: api-pre-commit, app-pre-commit

Fix deps for api
  desktop-manager-api/pyproject.toml
Due: api-pre-commit

Remove Unused Code
  .env.example
  .gitlab-ci.yml
  CODE_FORMATTING.md
  app/DEBUG.md
  app/README.md
  app/scripts/check_dependencies.sh
  app/src/__init__.py
  app/src/clients/auth.py
  app/src/config/config.py
  app/src/middleware/security.py
  app/src/scss/README.md
  app/src/services/auth/routes.py
  app/src/utils/session.py
  app/tests/COVERAGE.md
  app/tests/README.md
  app/tests/conftest.py
  app/tests/functional/test_tokens_routes.py
  app/tests/unit/test_auth.py
  app/tests/unit/test_auth_client.py
  app/tests/unit/test_security.py
  app/tests/unit/test_session.py
  app/uv.lock
  desktop-manager-api/pyproject.toml
  desktop-manager-api/uv.lock
  docker-compose.yaml
  guacamole-helm/templates/api/deployment-desktop-api.yaml
  guacamole-helm/templates/frontend/deployment-desktop-frontend.yaml
  run_tests.py
Due: api-pre-commit, app-pre-commit

Remove Unused Code
  .env.example
  app/.coverage
  app/src/__init__.py
  app/src/config/config.py
  app/src/services/auth/routes.py
  app/src/services/connections/routes.py
  app/src/templates/configurations.html
  app/src/templates/connections.html
  app/src/templates/debug_login.html
  app/src/templates/tokens.html
  app/src/templates/users.html
  app/tests/functional/test_api_error_handling.py
  app/tests/functional/test_connections_api_routes.py
  app/tests/functional/test_users_api_routes.py
  app/tests/unit/test_connections_client.py
  app/tests/unit/test_desktop_configurations_client.py
  app/tests/unit/test_swagger_utils.py
  desktop-manager-api/.coverage
  desktop-manager-api/README.md
  desktop-manager-api/src/clients/rancher.py
  desktop-manager-api/src/config/settings.py
  desktop-manager-api/src/services/token.py
  desktop-manager-api/tests/conftest.py
  guacamole-helm/generate-secrets.py
  guacamole-helm/templates/api/deployment-desktop-api.yaml
  guacamole-helm/values.yaml
Due: api-pre-commit, app-pre-commit

Finalizing
  README.md
  docker-compose.yaml
  guacamole-helm/README.md
  guacamole-helm/docker/desktops/README.md
  guacamole-helm/docker/desktops/ubuntu22.04/Dockerfile
  guacamole-helm/docker/desktops/ubuntu22.04/desktop-entrypoint.sh
  guacamole-helm/docker/desktops/ubuntu22.04/krb5.conf
  guacamole-helm/docker/desktops/ubuntu22.04/vulkan/icd.d/nvidia_icd.json
  guacamole-helm/docker/desktops/ubuntu22.04/vulkan/implicit_layer.d/nvidia_layers.json
  guacamole-helm/templates/frontend/deployment-desktop-frontend.yaml
Due: none

Typo
  README.md
Due: none
